/* REQUIREMENTS/TODO:
    - At least one media query
    - Height of #welcome-section needs to be the height of the viewport
    - Navbar locked to the top of the viewport */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: right;
    gap: 3em;

    background-color: #101010;
    padding: 1em;
}

#navbar a {
    font-size: 1.25em;
    color: #fff;
}